version: "3.8"

services:
  presensi:
    build: .
    container_name: presensi_scanner
    # 1. Gunakan privileged agar container punya izin akses hardware penuh
    privileged: true 
    # 2. Mount seluruh folder input, bukan satu file event saja
    volumes:
      - "/dev/input:/dev/input"
      - "./logs:/logs"
    # 3. Tetap gunakan restart: always agar otomatis nyala saat boot
    restart: always
